*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container div:last-child{
    border-bottom: 0!important;
}

.alert{
    margin: 0 auto;
}

.done {
    text-decoration: line-through;
}

.fa-xmark{
    cursor: pointer;
}